.button-danger{
    display: inline-block;
    padding: 0.5em;
    border: 2px solid $button-danger;
    color: $button-danger;
    background-color: $bg-list;
    border-radius: 0.4em;
    font-size: 1rem;
    transition: 0.3s;

    &:hover{
        background-color: $button-danger;
        color: $bg-list;
        cursor: pointer;
    }
}

.button-danger-icon{
    font-family: "Font Awesome 5 Free";
    border: none;
    display: inline;
    font-size: 1.9rem;
    color: $button-danger;
    background-color: $bg-list;

    &:hover{
        i:before{
            font-weight: 600;
            content: "\f057"
        }
        cursor: pointer;
    }

    &:focus{
        border: none;
        outline: none;
    }
}

.button-favorite{
    display: inline-block;
    padding: 0.5em;
    border: 2px solid $button-favorite;
    color: $button-favorite;
    background-color: $bg-list;
    border-radius: 0.4em;
    font-size: 1rem;
    transition: 0.3s;

    &:hover{
        background-color: $button-favorite;
        color: $bg-list;
        cursor: pointer;
    }
}

.button-favorite-icon{
    font-family: "Font Awesome 5 Free";
    border: none;
    display: inline;
    font-size: 1.9rem;
    color: $button-favorite;
    background-color: $bg-list;

    &:hover{
        i:before{
            font-weight: 600;
            content: "\f005"
        }
        cursor: pointer;
    }

    &:focus{
        border: none;
        outline: none;
    }
}

.button-unfavorite{
    display: inline-block;
    padding: 0.5em;
    background-color: $button-favorite;
    border: 2px solid $button-favorite;
    color: $bg-list;
    border-radius: 0.4em;
    font-size: 1rem;
    transition: 0.3s;

    &:hover{
        background-color: $bg-list;
        border: 2px solid $button-favorite;
        color: $button-favorite;
        cursor: pointer;
    }
}

.button-unfavorite-icon{
    font-family: "Font Awesome 5 Free";
    border: none;
    display: inline;
    font-size: 1.9rem;
    color: $button-favorite;
    background-color: $bg-list;

    &:hover{
        i:before{
            content: "\f005"
        }
        cursor: pointer;
    }

    &:focus{
        border: none;
        outline: none;
    }
}

