#grocery-body{
    margin: 0;
    display: grid;
    // gap: 1em;
    background-color: $bg-light;
}

#grocery-header{
    background-color: $bg-header;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    justify-items: center;
    align-items: center;

    h1{
        color: $font-light;
        font-size: 1.5em;
        font-weight: bold;
    }

    .logout-link{
        color: $font-light;
        font-size: 1.5em;
        font-weight: bold;
        :visited{
            color: $font-light;
        }

        &:hover{
            color: $link-dark;
        }
    }

    .alert{
        text-align: center;
        color: $font-light;
        font-size: 1.2em;
        font-weight: bold;
        grid-row-start: 3;
    }
}
.add-item-div{
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #265c44;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    #item-form{
        display: grid;
        grid-template-columns: 1fr;

        .input-container{
            text-align: center;
        }
    }
}


#list-wrapper{
    padding-top: 1em;
    display: grid;
    grid-row-gap: 1em; 
    // align-items: start;
    // grid-template-rows: auto;
    justify-items: center;

    .list-item-wrapper{
        background-color: $bg-list;
        // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
        border: solid $bg-header;
        border-radius: 1.2em;
        padding: 1em;
        text-align: center;
        width: 80%;

        .item-link{
            color: $link-dark;
            &:hover{
                color: $link-light;
            }
        }

        .item-forms{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        .button-danger .button-favorite{
            margin-top: 0.5rem;
            font-size: 1em;
        }
    }
}