#login-body{
    min-height: 100%;
    background-color: $bg-light;
    margin: 0;
    display: grid;
}

#login-wrapper{
    display: grid;
    justify-self: center;
    align-self: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    border: solid $bg-header;
    background-color: $font-light;
    text-align: center;
    width: 65%;
    min-width: 600px;
    min-height: 90%;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1em;

    .image-container{
        width: calc(100% - 2em);
        padding: 1em;
        background-color: $bg-header;
        border-bottom-left-radius: 170%;
        i{
            font-size: 12em;
            color: $bg-light;
        }
    }
    
    .login-container{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 1.5em;
        padding: 1em;
        width: 80%;
        justify-self: center;
        .input-container{
            display: grid;
            grid-template-columns: auto 1fr;

            i{
                color: $font-light;
                align-self: center;
                padding: 1em;
                background-color: $bg-header;
                border: 2px solid $bg-header;
                border-top-left-radius: 10%;
                border-bottom-left-radius: 10%;
            }

            input{
                align-self: center;
                border-top-style: hidden;
                border-left-style: hidden;
                border-right: hidden;
                border-bottom-style: solid;
                border-bottom: 2px solid white;
                font-weight: bold;
                font-size: 1.5em;
                padding-left: 1em;
                color: $bg-header;
                height: 2em;

                &::placeholder{
                    color: $link-dark;
                }

                &:focus{
                    outline: none;
                    border-bottom-color: $bg-header;
                }
                &:required {
                    box-shadow: none;
                }
            }
        }
        .extra-input-container{
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-content: center;
        }
    }

    .extra-container{
        font-size: 1.3em;
        font-weight: bold;
        a{
            color: $bg-light;
        }
        display: grid;
        align-items: end;
        text-align: left;
        padding: 1em;

        background-color: $bg-header;
        border-top-right-radius: 170%;
    }
}
