.button-danger {
  display: inline-block;
  padding: 0.5em;
  border: 2px solid #b71c1c;
  color: #b71c1c;
  background-color: #fafffd;
  border-radius: 0.4em;
  font-size: 1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button-danger:hover {
  background-color: #b71c1c;
  color: #fafffd;
  cursor: pointer;
}

.button-danger-icon {
  font-family: "Font Awesome 5 Free";
  border: none;
  display: inline;
  font-size: 1.9rem;
  color: #b71c1c;
  background-color: #fafffd;
}

.button-danger-icon:hover {
  cursor: pointer;
}

.button-danger-icon:hover i:before {
  font-weight: 600;
  content: "\f057";
}

.button-danger-icon:focus {
  border: none;
  outline: none;
}

.button-favorite {
  display: inline-block;
  padding: 0.5em;
  border: 2px solid #FBC02D;
  color: #FBC02D;
  background-color: #fafffd;
  border-radius: 0.4em;
  font-size: 1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button-favorite:hover {
  background-color: #FBC02D;
  color: #fafffd;
  cursor: pointer;
}

.button-favorite-icon {
  font-family: "Font Awesome 5 Free";
  border: none;
  display: inline;
  font-size: 1.9rem;
  color: #FBC02D;
  background-color: #fafffd;
}

.button-favorite-icon:hover {
  cursor: pointer;
}

.button-favorite-icon:hover i:before {
  font-weight: 600;
  content: "\f005";
}

.button-favorite-icon:focus {
  border: none;
  outline: none;
}

.button-unfavorite {
  display: inline-block;
  padding: 0.5em;
  background-color: #FBC02D;
  border: 2px solid #FBC02D;
  color: #fafffd;
  border-radius: 0.4em;
  font-size: 1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button-unfavorite:hover {
  background-color: #fafffd;
  border: 2px solid #FBC02D;
  color: #FBC02D;
  cursor: pointer;
}

.button-unfavorite-icon {
  font-family: "Font Awesome 5 Free";
  border: none;
  display: inline;
  font-size: 1.9rem;
  color: #FBC02D;
  background-color: #fafffd;
}

.button-unfavorite-icon:hover {
  cursor: pointer;
}

.button-unfavorite-icon:hover i:before {
  content: "\f005";
}

.button-unfavorite-icon:focus {
  border: none;
  outline: none;
}

#login-body {
  min-height: 100%;
  background-color: #e5fff4;
  margin: 0;
  display: -ms-grid;
  display: grid;
}

#login-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  border: solid #4ebf8e;
  background-color: #E0E0E0;
  text-align: center;
  width: 65%;
  min-width: 600px;
  min-height: 90%;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  gap: 1em;
}

#login-wrapper .image-container {
  width: calc(100% - 2em);
  padding: 1em;
  background-color: #4ebf8e;
  border-bottom-left-radius: 170%;
}

#login-wrapper .image-container i {
  font-size: 12em;
  color: #e5fff4;
}

#login-wrapper .login-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  gap: 1.5em;
  padding: 1em;
  width: 80%;
  -ms-grid-column-align: center;
      justify-self: center;
}

#login-wrapper .login-container .input-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
}

#login-wrapper .login-container .input-container i {
  color: #E0E0E0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 1em;
  background-color: #4ebf8e;
  border: 2px solid #4ebf8e;
  border-top-left-radius: 10%;
  border-bottom-left-radius: 10%;
}

#login-wrapper .login-container .input-container input {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-top-style: hidden;
  border-left-style: hidden;
  border-right: hidden;
  border-bottom-style: solid;
  border-bottom: 2px solid white;
  font-weight: bold;
  font-size: 1.5em;
  padding-left: 1em;
  color: #4ebf8e;
  height: 2em;
}

#login-wrapper .login-container .input-container input::-webkit-input-placeholder {
  color: #263238;
}

#login-wrapper .login-container .input-container input:-ms-input-placeholder {
  color: #263238;
}

#login-wrapper .login-container .input-container input::-ms-input-placeholder {
  color: #263238;
}

#login-wrapper .login-container .input-container input::placeholder {
  color: #263238;
}

#login-wrapper .login-container .input-container input:focus {
  outline: none;
  border-bottom-color: #4ebf8e;
}

#login-wrapper .login-container .input-container input:required {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#login-wrapper .login-container .extra-input-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-flex-line-pack: center;
      align-content: center;
}

#login-wrapper .extra-container {
  font-size: 1.3em;
  font-weight: bold;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  text-align: left;
  padding: 1em;
  background-color: #4ebf8e;
  border-top-right-radius: 170%;
}

#login-wrapper .extra-container a {
  color: #e5fff4;
}

#grocery-body {
  margin: 0;
  display: -ms-grid;
  display: grid;
  background-color: #e5fff4;
}

#grocery-header {
  background-color: #4ebf8e;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#grocery-header h1 {
  color: #E0E0E0;
  font-size: 1.5em;
  font-weight: bold;
}

#grocery-header .logout-link {
  color: #E0E0E0;
  font-size: 1.5em;
  font-weight: bold;
}

#grocery-header .logout-link :visited {
  color: #E0E0E0;
}

#grocery-header .logout-link:hover {
  color: #263238;
}

#grocery-header .alert {
  text-align: center;
  color: #E0E0E0;
  font-size: 1.2em;
  font-weight: bold;
  -ms-grid-row: 3;
      grid-row-start: 3;
}

.add-item-div {
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #265c44;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add-item-div #item-form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.add-item-div #item-form .input-container {
  text-align: center;
}

#list-wrapper {
  padding-top: 1em;
  display: -ms-grid;
  display: grid;
  grid-row-gap: 1em;
  justify-items: center;
}

#list-wrapper .list-item-wrapper {
  background-color: #fafffd;
  border: solid #4ebf8e;
  border-radius: 1.2em;
  padding: 1em;
  text-align: center;
  width: 80%;
}

#list-wrapper .list-item-wrapper .item-link {
  color: #263238;
}

#list-wrapper .list-item-wrapper .item-link:hover {
  color: #607D8B;
}

#list-wrapper .list-item-wrapper .item-forms {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

#list-wrapper .list-item-wrapper .button-danger .button-favorite {
  margin-top: 0.5rem;
  font-size: 1em;
}

html {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a :visited {
  text-decoration: none;
}

hr {
  border-color: #4ebf8e;
}

@media (min-width: 600px) {
  #grocery-header {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr auto;
        grid-template-rows: 1fr auto;
  }
  #grocery-header .alert {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
  #grocery-header .page-title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 3;
        grid-row-start: 3;
  }
  #list-wrapper {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 900px) {
  #grocery-header {
    -ms-grid-columns: 1fr auto 1fr;
        grid-template-columns: 1fr auto 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    justify-items: auto;
  }
  #grocery-header .page-title {
    grid-column: auto;
    -ms-grid-row: auto;
        grid-row-start: auto;
  }
  #grocery-header h1 {
    -ms-grid-column-align: left;
        justify-self: left;
    margin-left: 1em;
  }
  #grocery-header p {
    -ms-grid-column-align: right;
        justify-self: right;
    -ms-grid-column: 3;
        grid-column-start: 3;
    margin-right: 1em;
  }
  #grocery-header .alert {
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  #list-wrapper {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  #list-wrapper {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}
/*# sourceMappingURL=style.css.map */