// Utilites
@import '../scss/colors';

// Imports
@import '../scss/elements';
@import '../scss/login';
@import '../scss/grocery';

html{
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    transition: 0.3s;
    :visited{
        text-decoration: none;
    }
}

hr{
    border-color: $bg-header;
}

// Media Queries
@import '../scss/media';