// Backgrounds
$bg-light: #e5fff4;
$bg-list: #fafffd;
$bg-header: #4ebf8e;
$bg-add: #265c44;

// Buttons
$button-danger:#b71c1c;
$button-favorite: #FBC02D;

//General Fonts
$font-light: #E0E0E0;

// Links
$link-dark: #263238;
$link-light: #607D8B;

// Alert Colors
$alert-red: #ef5350;