#no-margin{
    margin: 0;
    height: 100%;
    background-color: $bg-light;
}

.sticky{
    position: fixed;
    width: 100%;
    top: 0;
}

.sticky + #grocery-body{
    padding-top: 200px;
}

#grocery-body{
    margin: 0;
    display: grid;
    background-color: $bg-light;
}

#info-header{
    background-color: $bg-header;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    justify-items: center;
    align-items: center;
    width: 100%;

    h1{
        color: $font-light;
        font-size: 1.5em;
        font-weight: bold;
    }

    .account-dropdown-container{
        .account-dropdown-label{
            display: grid;
            grid-template-columns: 1fr 1fr;

            span{
                color: $font-light;
                font-size: 1.5em;
                font-weight: bold;
                align-self: center;
            }
            a {
                justify-self: right;
                align-self: center;
                color: $font-light;
                font-size: 1.5em;
                font-weight: bold;
            }

            &:hover{
                cursor: pointer;
                a{
                    color: $link-dark;
                }
            }
        }

        .dropdown-content{
            display: none;
            position: absolute;
            z-index: 1;
            min-width: 160px;
            input{
                width: 100%;
                display: block;
                font-size: 1.2em;
                font-weight: bold;
                padding: 1em;
                background-color: $bg-list;
                border: none;
                outline: none;
                color: $link-light;
                &:hover{
                    color: $link-dark;
                    cursor: pointer;
                }
            }
        }
                
        .show{
            display: block;
        }
    }

    .logout-link{
        color: $font-light;
        font-size: 1.5em;
        font-weight: bold;
        :visited{
            color: $font-light;
        }

        &:hover{
            color: $link-dark;
        }
    }

    .alert{
        text-align: center;
        color: $font-light;
        font-size: 1.2em;
        font-weight: bold;
        grid-row-start: 3;
    }
}

.add-item-div{
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: $bg-add;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    width: 100%;

    #item-form{
        display: grid;
        grid-template-columns: 1fr;
    
        .input-container{
            text-align: center;
        }
    }
}


#list-wrapper{
    padding-top: 1em;
    display: grid;
    grid-row-gap: 1em; 
    justify-items: center;

    .list-item-wrapper{
        background-color: $bg-list;
        border: solid $bg-header;
        border-radius: 1.2em;
        padding: 1em;
        text-align: center;
        width: 80%;

        .item-link{
            color: $link-dark;
            &:hover{
                color: $link-light;
            }
        }

        .item-forms{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        .button-danger .button-favorite{
            margin-top: 0.5rem;
            font-size: 1em;
        }
    }
}
