input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid green;
  -webkit-text-fill-color: $bg-header;
  font-size: 1.5em;
  -webkit-box-shadow: 0 0 0px 1000px $bg-list inset;
  transition: background-color 5000s ease-in-out 0s;
}

#index-body{
    background-color: $bg-light;
    min-height: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;

    hr{
        width: 90%;
    }
}

#login-wrapper{
    width: 80%;
    display: grid;
    row-gap: 1em;
    align-self: center;
    justify-self: center;
    justify-content: center;
    background-color: $bg-list;
    border: solid $bg-header;
    border-radius: 1.2em;
    padding: 1em;

    #login-header{
        text-align: center;
        color: $bg-add;
    }

    .input-container{
        width: 100%;
        text-align: center;
        font-weight: bold;
        color: $bg-header;

        font-size: 1.5em !important;

        label{
            color: $bg-add;
        }

        input[type="text"], input[type="password"]{
            text-align: center;
            width: 100%;
            margin: 0;
            padding: 0;
            border: none;
            border-bottom: 2px dashed $bg-add;
            font-size: 1.5em;
            &:focus{
                border-bottom-style: solid;
                font-size: 1.5em;
            }
        }
    }

    .extra-input-container{
        text-align: center;
        input{
            width: 60%;
        }
    }

    .extra-container{
        text-align: center;
        color: $button-danger;
    }
}
