@media (min-width: 600px){
    #info-header{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr auto;

        .alert{
            grid-column: 1 / 3;
        }

        .page-title{
            grid-column: 1 / 3;
            grid-row-start: 3;
        }
    }

    #list-wrapper{
        grid-template-columns: 1fr 1fr;
    }

    .sticky + #grocery-body{
        padding-top: 175px;
    }
}

@media(min-width: 900px){
    #info-header{
        grid-template-columns: 1fr auto 1fr;
        grid-template-rows: auto;
        justify-items: auto;

        .page-title{
            grid-column: auto;
            grid-row-start: auto;
        }

        h1{
            justify-self: left;
            margin-left: 1em;
        }

        .account-dropdown-container{
            justify-self: right;
            grid-column-start: 3;
            margin-right: 1em;

            .dropdown-content{
                right: 0;
            }
        }

        .alert{
            grid-row-start: 1;
            grid-column-start: 2;
            justify-self: center;
        }
    }

    #list-wrapper{
        grid-template-columns: repeat(3, 1fr);
    }

    .sticky + #grocery-body{
        padding-top: 115px;
    }
}

@media(min-width: 1200px){
    #list-wrapper{
        grid-template-columns: repeat(4, 1fr);
    }
}