{% extends "base.html" %}

{% block head %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='grocery-favicon.ico') }}">
{% endblock head %}

{% block content %}
<body id="no-margin">
   <header id="full-header">
        <div id="info-header">
            <h1> <i class="fas fa-shopping-basket"></i></h1>
            {% if get_flashed_messages() %}
                {% for message in get_flashed_messages() %}
                    <p class="alert">{{ message }}</p>

                {% endfor %}
            {% else %}
                <h1 class="page-title">Grocery List</h1>
            {% endif %}
            <div class="account-dropdown-container" onclick="dropdown()">
                <div class="account-dropdown-label">
                    <span>{{ current_user.username.capitalize() }}</span>
                    <a><i class="fas fa-angle-down"></i></a>
                </div>

                <div id="account-dropdown" class="dropdown-content">
                    <form action="{{ url_for('remove_all_items') }}" method="post" onsubmit="return confirm('Do you really want to remove all items? (Except favorites)')">
                        <input type="submit" value="Remove All Items">
                    </form>
                    <form action="{{ url_for('logout') }}" name="logout-form">
                        <input type="submit" value="Logout">
                    </form>
                </div>
            </div>
        </div>    

        <div class="add-item-div">
            <form action="{{ url_for('add_item') }}" method="post" id="item-form">
                <div class="input-container">
                    <input name="item-entry" type="text" autocomplete="off">
                </div>
            </form>
        </div>
    </header>
 

    <div id="grocery-body">
        <div id="list-wrapper">
            {% for item in current_user.grocery_items %}
                {% if item.favorite %}
                <div class="list-item-wrapper">
                    <h2><a href="https://www.walmart.com/grocery/search/?query={{ item.name }}" class="item-link"> {{ item.name }}</a></h2>
                    <hr>
                    <div class="item-forms">
                        <form method="post" action="{{ url_for('remove_item', item_to_remove=item.name) }}">
                            <button type="submit" class="button-danger-icon">
                                <i class="far fa-times-circle"></i>
                            </button>
                        </form>

                        <form action="{{ url_for('unfavorite_item', item_to_unfavorite=item.name)}}" method="post">
                            <button type="submit" class="button-unfavorite-icon">
                                <i class="fas fa-star"></i>
                            </button>
                        </form>
                    </div>
                </div>
                {% endif %}
            {% endfor %}

            {% for item in current_user.grocery_items %}
                {% if not item.favorite %}
                <div class="list-item-wrapper">
                    <h2><a href="https://www.walmart.com/grocery/search/?query={{ item.name }}" class="item-link"> {{ item.name }}</a></h2>
                    <hr>
                    <div class="item-forms">
                        <form method="post" action="{{ url_for('remove_item', item_to_remove=item.name) }}">
                            <button type="submit" class="button-danger-icon">
                                <i class="far fa-times-circle"></i>
                            </button>
                        </form>

                        <form action="{{ url_for('favorite_item', item_to_favorite=item.name)}}" method="post">
                            <button type="submit" class="button-favorite-icon">
                                <i class="far fa-star"></i>
                            </button>
                        </form>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</body>
    
<script>
    function dropdown(){
        event.stopPropagation();
        document.getElementById("account-dropdown").classList.toggle("show");
    }

    window.onclick = function(event){
        if (!event.target.matches('.account-dropdown-container') && !event.target.matches('.account-dropdown-label')){
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++){
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')){
                    openDropdown.classList.remove('show');
                }
            }
        }
    }

    window.onscroll = function(){stickyHeader()}

    var header = document.getElementById("full-header");
    var sticky = header.offsetTop;

    function stickyHeader(){
        if (window.pageYOffset > sticky){
            header.classList.add("sticky")
        }
        else{
            header.classList.remove("sticky")
        }
    }
    
</script>
{% endblock content %}
