{% extends "base.html" %}

{% block head %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='login-favicon.ico') }}">
{% endblock head %}

{% block content %}
<body id="index-body">
    <form method="post" id="login-wrapper">
        {{ form.hidden_tag() }}

        <div>
            <h1 id="login-header">Login</h1>
        </div>

        <div class="input-container">
            {{ form.username(size=32) }}
            {{ form.username.label }}
        </div>

        <div class="input-container">
            {{ form.password(size=32) }}
            {{ form.password.label }}
        </div>

        <div class="extra-input-container">
            {{ form.submit(class="button-login") }}
        </div>

        <div class ="extra-container">
            {% for message in get_flashed_messages() %}
                <p class="alert">{{ message }}</p>
            {% endfor %}
        </div>
    </form>
</body>
{% endblock content %}