.button-danger {
  display: inline-block;
  padding: 0.5em;
  border: 2px solid #b71c1c;
  color: #b71c1c;
  background-color: #fafffd;
  border-radius: 0.4em;
  font-size: 1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button-danger:hover {
  background-color: #b71c1c;
  color: #fafffd;
  cursor: pointer;
}

.button-danger-icon {
  font-family: "Font Awesome 5 Free";
  border: none;
  display: inline;
  font-size: 1.9rem;
  color: #b71c1c;
  background-color: #fafffd;
}

.button-danger-icon:hover {
  cursor: pointer;
}

.button-danger-icon:hover i:before {
  font-weight: 600;
  content: "\f057";
}

.button-danger-icon:focus {
  border: none;
  outline: none;
}

.button-favorite {
  display: inline-block;
  padding: 0.5em;
  border: 2px solid #FBC02D;
  color: #FBC02D;
  background-color: #fafffd;
  border-radius: 0.4em;
  font-size: 1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button-favorite:hover {
  background-color: #FBC02D;
  color: #fafffd;
  cursor: pointer;
}

.button-favorite-icon {
  font-family: "Font Awesome 5 Free";
  border: none;
  display: inline;
  font-size: 1.9rem;
  color: #FBC02D;
  background-color: #fafffd;
}

.button-favorite-icon:hover {
  cursor: pointer;
}

.button-favorite-icon:hover i:before {
  font-weight: 600;
  content: "\f005";
}

.button-favorite-icon:focus {
  border: none;
  outline: none;
}

.button-unfavorite {
  display: inline-block;
  padding: 0.5em;
  background-color: #FBC02D;
  border: 2px solid #FBC02D;
  color: #fafffd;
  border-radius: 0.4em;
  font-size: 1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button-unfavorite:hover {
  background-color: #fafffd;
  border: 2px solid #FBC02D;
  color: #FBC02D;
  cursor: pointer;
}

.button-unfavorite-icon {
  font-family: "Font Awesome 5 Free";
  border: none;
  display: inline;
  font-size: 1.9rem;
  color: #FBC02D;
  background-color: #fafffd;
}

.button-unfavorite-icon:hover {
  cursor: pointer;
}

.button-unfavorite-icon:hover i:before {
  content: "\f005";
}

.button-unfavorite-icon:focus {
  border: none;
  outline: none;
}

.button-login {
  display: inline-block;
  padding: 0.5em;
  border: 2px solid #4ebf8e;
  color: #4ebf8e;
  background-color: #fafffd;
  border-radius: 0.4em;
  font-size: 1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button-login:hover {
  background-color: #4ebf8e;
  color: #E0E0E0;
  cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid green;
  -webkit-text-fill-color: #4ebf8e;
  font-size: 1.5em;
  -webkit-box-shadow: 0 0 0px 1000px #fafffd inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

#index-body {
  background-color: #e5fff4;
  min-height: 100%;
  margin: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#index-body hr {
  width: 90%;
}

#login-wrapper {
  width: 80%;
  display: -ms-grid;
  display: grid;
  row-gap: 1em;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fafffd;
  border: solid #4ebf8e;
  border-radius: 1.2em;
  padding: 1em;
}

#login-wrapper #login-header {
  text-align: center;
  color: #265c44;
}

#login-wrapper .input-container {
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: #4ebf8e;
  font-size: 1.5em !important;
}

#login-wrapper .input-container label {
  color: #265c44;
}

#login-wrapper .input-container input[type="text"], #login-wrapper .input-container input[type="password"] {
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  border-bottom: 2px dashed #265c44;
  font-size: 1.5em;
}

#login-wrapper .input-container input[type="text"]:focus, #login-wrapper .input-container input[type="password"]:focus {
  border-bottom-style: solid;
  font-size: 1.5em;
}

#login-wrapper .extra-input-container {
  text-align: center;
}

#login-wrapper .extra-input-container input {
  width: 60%;
}

#login-wrapper .extra-container {
  text-align: center;
  color: #b71c1c;
}

#no-margin {
  margin: 0;
  height: 100%;
  background-color: #e5fff4;
}

.sticky {
  position: fixed;
  width: 100%;
  top: 0;
}

.sticky + #grocery-body {
  padding-top: 200px;
}

#grocery-body {
  margin: 0;
  display: -ms-grid;
  display: grid;
  background-color: #e5fff4;
}

#info-header {
  background-color: #4ebf8e;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#info-header h1 {
  color: #E0E0E0;
  font-size: 1.5em;
  font-weight: bold;
}

#info-header .account-dropdown-container .account-dropdown-label {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

#info-header .account-dropdown-container .account-dropdown-label span {
  color: #E0E0E0;
  font-size: 1.5em;
  font-weight: bold;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#info-header .account-dropdown-container .account-dropdown-label a {
  -ms-grid-column-align: right;
      justify-self: right;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #E0E0E0;
  font-size: 1.5em;
  font-weight: bold;
}

#info-header .account-dropdown-container .account-dropdown-label:hover {
  cursor: pointer;
}

#info-header .account-dropdown-container .account-dropdown-label:hover a {
  color: #263238;
}

#info-header .account-dropdown-container .dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  min-width: 160px;
}

#info-header .account-dropdown-container .dropdown-content input {
  width: 100%;
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  padding: 1em;
  background-color: #fafffd;
  border: none;
  outline: none;
  color: #607D8B;
}

#info-header .account-dropdown-container .dropdown-content input:hover {
  color: #263238;
  cursor: pointer;
}

#info-header .account-dropdown-container .show {
  display: block;
}

#info-header .logout-link {
  color: #E0E0E0;
  font-size: 1.5em;
  font-weight: bold;
}

#info-header .logout-link :visited {
  color: #E0E0E0;
}

#info-header .logout-link:hover {
  color: #263238;
}

#info-header .alert {
  text-align: center;
  color: #E0E0E0;
  font-size: 1.2em;
  font-weight: bold;
  -ms-grid-row: 3;
      grid-row-start: 3;
}

.add-item-div {
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #265c44;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.add-item-div #item-form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.add-item-div #item-form .input-container {
  text-align: center;
}

#list-wrapper {
  padding-top: 1em;
  display: -ms-grid;
  display: grid;
  grid-row-gap: 1em;
  justify-items: center;
}

#list-wrapper .list-item-wrapper {
  background-color: #fafffd;
  border: solid #4ebf8e;
  border-radius: 1.2em;
  padding: 1em;
  text-align: center;
  width: 80%;
}

#list-wrapper .list-item-wrapper .item-link {
  color: #263238;
}

#list-wrapper .list-item-wrapper .item-link:hover {
  color: #607D8B;
}

#list-wrapper .list-item-wrapper .item-forms {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

#list-wrapper .list-item-wrapper .button-danger .button-favorite {
  margin-top: 0.5rem;
  font-size: 1em;
}

html {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a :visited {
  text-decoration: none;
}

hr {
  border-color: #4ebf8e;
}

@media (min-width: 600px) {
  #info-header {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr auto;
        grid-template-rows: 1fr auto;
  }
  #info-header .alert {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
  #info-header .page-title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 3;
        grid-row-start: 3;
  }
  #list-wrapper {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .sticky + #grocery-body {
    padding-top: 175px;
  }
}

@media (min-width: 900px) {
  #info-header {
    -ms-grid-columns: 1fr auto 1fr;
        grid-template-columns: 1fr auto 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    justify-items: auto;
  }
  #info-header .page-title {
    grid-column: auto;
    -ms-grid-row: auto;
        grid-row-start: auto;
  }
  #info-header h1 {
    -ms-grid-column-align: left;
        justify-self: left;
    margin-left: 1em;
  }
  #info-header .account-dropdown-container {
    -ms-grid-column-align: right;
        justify-self: right;
    -ms-grid-column: 3;
        grid-column-start: 3;
    margin-right: 1em;
  }
  #info-header .account-dropdown-container .dropdown-content {
    right: 0;
  }
  #info-header .alert {
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  #list-wrapper {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .sticky + #grocery-body {
    padding-top: 115px;
  }
}

@media (min-width: 1200px) {
  #list-wrapper {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}
/*# sourceMappingURL=style.css.map */