{% extends "base.html" %}

{% block head %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='grocery-favicon.ico') }}">
{% endblock head %}

{% block content %}
<body id="grocery-body">
    <header id='grocery-header'>
        <h1> <i class="fas fa-shopping-basket"></i></h1>
        {% if get_flashed_messages() %}
            {% for message in get_flashed_messages() %}
                <p class="alert">{{ message }}</p>

            {% endfor %}
        {% else %}
            <h1 class="page-title">Grocery List</h1>
        {% endif %}
        <p>
            <a href="{{ url_for('logout') }}" class="logout-link">Logout - {{ current_user.username.capitalize() }}</a>
        </p>
    </header>

    <div class="add-item-div">
        <form action="{{ url_for('add_item') }}" method="post" id='item-form'>
            <div class="input-container">
                <input name="item-entry">
            </div>
        </form>
    </div>

    <div id='list-wrapper'>
        {% for item in current_user.grocery_items %}
            {% if item.favorite %}
            <div class='list-item-wrapper'>
                <h2><a href="https://www.walmart.com/grocery/search/?query={{ item.name }}" class="item-link"> {{ item.name }}</a></h2>
                <hr>
                <div class="item-forms">
                    <form method="post" action="{{ url_for('remove_item', item_to_remove=item.name) }}">
                        <!-- <input type="submit" value="Remove Item" class="button-danger"> -->
                        <button type="submit" class="button-danger-icon">
                            <i class="far fa-times-circle"></i>
                        </button>
                    </form>

                    <form action="{{ url_for('unfavorite_item', item_to_unfavorite=item.name)}}" method="post">
                        <!-- <input type="submit" value="Unfavorite Item" class="button-unfavorite"> -->
                        <button type="submit" class="button-unfavorite-icon">
                            <i class="fas fa-star"></i>
                        </button>
                    </form>
                </div>
            </div>
            {% endif %}
        {% endfor %}

        {% for item in current_user.grocery_items %}
            {% if not item.favorite %}
            <div class='list-item-wrapper'>
                <h2><a href="https://www.walmart.com/grocery/search/?query={{ item.name }}" class="item-link"> {{ item.name }}</a></h2>
                <hr>
                <div class="item-forms">
                    <form method="post" action="{{ url_for('remove_item', item_to_remove=item.name) }}">
                        <!-- <input type="submit" value="Remove Item" class="button-danger"> -->
                        <button type="submit" class="button-danger-icon">
                            <i class="far fa-times-circle"></i>
                        </button>
                    </form>

                    <form action="{{ url_for('favorite_item', item_to_favorite=item.name)}}" method="post">
                        <!-- <input type="submit" value="Favorite Item" class="button-favorite"> -->
                        <button type="submit" class="button-favorite-icon">
                            <i class="far fa-star"></i>
                        </button>
                    </form>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</body>
{% endblock content %}