{% extends "base.html" %}

{% block head %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='login-favicon.ico') }}">
{% endblock head %}

{% block content %}
<body id="login-body">
    <form action="" method="post" id="login-wrapper">

        {% for message in get_flashed_messages() %}
            <p class="alert">{{ message }}</p>
        {% endfor %}
        {{ form.hidden_tag() }}
        <div class="image-container">
            <i class="far fa-user-circle"></i>
        </div>
        
        <div class="login-container">

            <div class="input-container">
                <i class="fas fa-user"></i>
                {{ form.username(size=32, placeholder="Username") }}
                <!-- <input type="text" placeholder="Username" name="u-name" autocomplete="off" novalidate> -->
            </div>

            <div class="input-container">
                <i class="fas fa-key"></i>
                {{ form.password(size=32, placeholder="Password") }}
                <!-- <input type="password" placeholder="Password" name="u-pwd" novalidate> -->
            </div>

            <div class="extra-input-container">
                
                {{ form.submit() }}

                <div>
                    {{ form.remember_me.label }}

                    {{ form.remember_me() }}
                </div>
            </div>
            <!-- <button type="submit">Login</button> -->
        </div>

        <div class="extra-container">
            <span class="forgot-password-span"><a href="">Forgot password?</a></span>
        </div>
    </form>
</body>
{% endblock content %}